# Node
node_modules/

# Env
*.env

# Logs
*.log

# Turbo
.turbo/

# OS
.DS_Store

# Jetbrains
.idea/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
